<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jina Holding Ur Favorite Album</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="icon" href="static/img/Screenshot 2022-05-06 at 1.52.51.png">
		<script src="https://kit.fontawesome.com/7a538433c3.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="drag-area">
    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
    <header>Drag & Drop to Upload File</header>
    <span>OR</span>
    <button id="browse">Browse File</button>
    <input type="file" hidden>
  </div>
  <div>
      <button id="upload">Upload</button>
  </div>
  <script src="static/js/index.js"></script>
</body>
</html>